
<header>
        <h1>
            Seus dados foram enviados com sucesso!
        </h1>
        <h2>
            Aqui está uma cópia
        </h2>
    </header>
    <section class="dadosPessoais">
        <fieldset>
            <div class="nomeAluno">
                <label for="nome">Nome</label>
                <input type="text" value="{Nome}" readonly>
            </div>

            <div class="sobrenomeAluno">
                <label for="sobrenomeAluno">Sobrenome</label>
                <input type="text" value="{Sobrenome}" readonly>
            </div>

            <div class="registroAcademico">
                <label for="registroAcademico">Registro Acadêmico</label>
                <input type="text" value="{RA}" readonly>
            </div>

            <div class="emailAcademico">
                <label for="emailAcademico">Email</label>
                <input type="text" value="{Email Acadêmico}" readonly>
            </div>

            <div class="semestre">
                <label for="semestre">Semestre</label>
                <input type="text" value="{Semestre}" readonly>
            </div>

            <div class="periodo">
                <label for="periodo">Período</label>
                <input type="text" value="{Período}" readonly>
            </div>
        </fieldset>
        <fieldset>
            <section class="dadosAcademicos">
                <div class="instituicao">
                    <label for="instituicao">Instituição</label>
                    <input type="text" value="{Instituição}" readonly>
                </div>

                <div class="campus">
                    <label for="campus">Campus</label>
                    <input type="text" value="{Campus}" readonly>
                </div>

                <div class="curso">
                    <label for="curso">Curso</label>
                    <input type="text" value="{Curso}" readonly>
                </div>

                <div class="monitoria">
                    <label for="monitoria">UC</label>
                    <input type="text" value="{UC}" readonly>
                </div>

                <div class="monitor">
                    <label for="monitor">Já foi monitor?</label>
                    <input type="text" value="{Monitor}" readonly>
                </div>

                <div class="cursou">
                    <label for="cursou">Já cursou essa UC?</label>
                    <input type="text" value="{Cursou}" readonly>
                </div>

                <div class="conhecimento">
                    <label for="conhecimento">Área de conhecimento</label>
                    <input type="text" value="{Conhecimento}" readonly>
                </div>
            </section>
        </fieldset>
    </section>