<div class="border">
  <div class="link">{{iesList.iesEnviar.nome.toUpperCase()}} / Campus {{iesList.iesEnviar.instituicoes[campusIndex].nome}} / {{cursoSelecionado.name}}</div>
  <div class="main">
    <h2>Unidades Curriculares (UC) com vagas para monitoria no Curso de {{cursoSelecionado.name}} </h2>

    <div class="box-monitoria" >
      <div class="card-monitoria" *ngFor="let card of listMonitorias" (click)="goForm(card.id)">
        <h5>
          {{listMonitorias[card.id].curso}}
        </h5>

        <div>
          <p>
            {{listMonitorias[0].modelo}}
          </p>
          <p>
            {{listMonitorias[0].dia}}
          </p>
          <p>
            {{listMonitorias[0].horario | date: 'HH:mm'}}
          </p>
        </div>

        <p>
          Professor: {{listMonitorias[0].professor}}
        </p>
      </div>
    </div>

    <img src="{{iesList.iesEnviar.iesLogo}}" alt="logo {{iesList.iesEnviar.nome}}">
  </div>
</div>
