.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-monitoria {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px 0;
  flex-wrap: wrap;
}

.card-monitoria {
  margin: 20px;
  width: 220px;
  background: var(--background-gray);
  text-align: center;

  border-radius: 19px;
  background: linear-gradient(145deg, #a2db90, #c1ffab);
  box-shadow: 7px 7px 30px #80ad72, -7px -7px 30px #e8ffce;
}

p {
  font-size: 14px;
}

.card-monitoria h5, .card-monitoria>p:last-child {
  padding: 12px;
}

.card-monitoria h5 {
  color: var(--font-dark-gray);
}

.card-monitoria div {
  padding: 12px 0 12px 0;
  border-bottom: 2px solid var(--white);
  border-top: 2px solid var(--white);
}
