<div class="institutions-box">
    <h1>Instituições</h1>
    <div class="institutions-logo">
            <!-- AGES -->
        <a href="#">
            <img src="../assets/IES/AGES/logoAGES.png" alt="AGES">
        </a>

        <!-- FADERGS -->
        <a href="#">
            <img src="../assets/IES/FADERGS/logoFADERGS.png" alt="FADERGS">
        </a>

        <!-- FASEH -->
        <a href="#">
            <img src="../assets/IES/FASEH/logoFASEH.png" alt="FASEH">
        </a>

        <!-- FPB -->
        <a href="#">
            <img src="../assets/IES/FPB/logoFPB.png" alt="FPB">
        </a>

        <!-- IBMR -->
        <a href="#">
            <img src="../assets/IES/IBMR/logoIBMR.png" alt="IBMR">
        </a>

        <!-- UAM -->
        <a href="#">
            <img src="../assets/IES/UAM/logoUAM.png" alt="UAM">
        </a>

        <!-- UNA -->
        <a href="#">
            <img src="../assets/IES/UNA/logoUNA.png" alt="UNA">
        </a>

        <!-- UNIBH -->
        <a href="#">
            <img src="../assets/IES/UNIBH/logoUNIBH.png" alt="UNIBH">
        </a>

        <!-- UNICURITIBA -->
        <a href="#">
            <img src="../assets/IES/UNICURITIBA/logoUNICURITIBA.png" alt="UNICURITIBA">
        </a>

        <!-- UNIFACS -->
        <a href="#">
            <img src="../assets/IES/UNIFACS/logoUNIFACS.png" alt="UNIFACS">
        </a>

        <!-- UNIFG -->
        <a href="#">
            <img src="../assets/IES/UNIFG/logoUNIFG.png" alt="UNIFG">
        </a>

        <!-- UNIRITTER -->
        <a href="#">
            <img src="../assets/IES/UNIRITTER/logoUNIRITTER.png" alt="UNIRITTER">
        </a>

        <!-- UNISOCIESC -->
        <a href="#">
            <img src="../assets/IES/UNISOCIESC/logoUNISOCIESC.png" alt="UNISOCIESC">
        </a>

        <!-- UNISUL -->
        <a href="#">
            <img src="../assets/IES/UNISUL/logoUNISUL.png" alt="UNISUL">
        </a>

        <!-- UNP -->
        <a href="#">
            <img src="../assets/IES/UNP/logoUNP.png" alt="UNP">
        </a>

        <!-- USJT -->
        <a href="#">
            <img src="../assets/IES/USJT/logoUSJT.png" alt="USJT">
        </a>

    </div>
</div>


