<div class="footer-container">
    <div class="footer-links">
        <ul>
            <li>
                <a routerLink="/Sobre">Sobre</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Acolhimento</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Instagram</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">NAPI</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Monitoramento</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">WhatsApp</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Instituições</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Padrinhamento</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Gmail</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Gerúndios</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Liderando</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Discord</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">Eventos</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">ENADE</a>
            </li>
            <li>
                <a routerLink="/Error/404/notFounded">WhatsApp</a>
            </li>
        </ul>
    </div>
    
    <div class="footer-logo-box">
        <img src="../assets/logoAcolher.png" alt="Logo Acolher" class="img-logo">
        <span>{{year}} - Projeto Acolher</span>
    </div>
</div>