<nav>
    <div>
        <a routerLink="/">
            <img src="../../../assets/selo-ecossistema-fade-verde-azul.svg" alt="Logo Anima">
        </a>
    </div>

      <!-- styles.css código -->
      <div (click)="clicked()" class="burger burger-arrow burger-squeeze" id="button-menu">
        <div class="burger-lines"></div>
      </div>

    <div>
        <ul>
            <li>
                <a routerLink="/">Início</a>
            </li>
            <li>
                <a routerLink="/instituicoes">Monitoria</a>
            </li>
            <li>
                <a routerLink="/sobre">Sobre</a>
            </li>
            <!-- <li>
                <a routerLink="/gerundio">Gerúndios</a>
            </li>
            
            <li>
                <a routerLink="/contato">Contato</a>
            </li> -->
            
        </ul>
    </div>
    <div [ngStyle]="{'display': show ? 'inline' : 'none'}" class="menu">
        <ul *ngIf="show" >
            <li>
                <a routerLink="/">Início</a>
            </li>
            <li>
                <a routerLink="/instituicoes">Monitoria</a>
            </li>
            <li>
                <a routerLink="/sobre">Sobre</a>
            </li>
            <!-- <li>
                <a routerLink="/gerundio">Gerúndios</a>
            </li>
            <li>
                <a routerLink="/contato">Contato</a>
            </li> -->
        </ul>
    </div>
</nav>
