<nav>
    <div>
        <a routerLink="/">
            <img src="../../../assets/logoAcolher.png" alt="Logo Acolher">
        </a>
    </div>
    <ul>
        <li>
            <a routerLink="/">Início</a>
        </li>
        <li>
            <a routerLink="/Sobre">Sobre</a>
        </li>
        <li>
            <a routerLink="/Gerundio">Gerúndios</a>
        </li>
        <li>
            <a routerLink="/Instituicoes">Instituições</a>
        </li>
        <li>
            <a routerLink="/Contato">Contato</a>
        </li>
    </ul>
</nav>