* {
    font-size: 25px;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 110px;
    padding: 0 50px;
    background: linear-gradient(180deg, #63C4D4 0%, #B4D172 100%);
}

nav::before {
  content: '';
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  height: 29%;
  background: linear-gradient(0deg, transparent, #b1d075);
}

img {
    width: 97px;
}

ul {
    display: inline-flex;
    gap: 33px;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-shadow: 0px 3px 11px #000;
    font-weight: 500;
    transition: 0.4s;
}

a:hover {
    color: #abd17d;
}

button {
    background: transparent;
    border: none;
}

button, .menu {
    display: none;
}

@media (max-width:860px ) {
    nav {
        flex-direction: column;
        height: 140px;
        justify-content: center;
    }

    img {
        width: 77px;
    }


    nav::before {
      top: 140px;
    }
}

@media (max-width:660px) {

    button {
        display: inline;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    nav div:nth-child(3) {
        display: none;
    }

    .menu {
        position: absolute;
        background-color: #9dc173;
        top: 90px;
        right: 20px;
        border-radius: 10px;
        padding: 9px;
        z-index: 1;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 220px;
        gap: 0;
    }

    li {
        transition: 0.4s;
        padding: 0 10px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    li:hover {
        background-color: #87a762;
    }

    a:hover {
        color: #fff;
    }
}
