<nav>
    <div>
        <a routerLink="/">
            <img src="../../../assets/selo-ecossistema-fade-verde-azul.svg" alt="Logo Anima">
        </a>
    </div>
    <button (click)="clicked()" class="menu-button">
        <fa-icon [icon]="faBars" style="color: white"></fa-icon>
    </button>
    <div>
        <ul>
            <li>
                <a routerLink="/">Início</a>
            </li>
            <li>
                <a routerLink="/sobre">Sobre</a>
            </li>
            <li>
                <a routerLink="/gerundio">Gerúndios</a>
            </li>
            <li>
                <a routerLink="/instituicoes">Instituições</a>
            </li>
            <li>
                <a routerLink="/contato">Contato</a>
            </li>
        </ul>
    </div>
    <div [ngStyle]="{'display': show ? 'inline' : 'none'}" class="menu">
        <ul *ngIf="show" >
            <li>
                <a routerLink="/">Início</a>
            </li>
            <li>
                <a routerLink="/sobre">Sobre</a>
            </li>
            <li>
                <a routerLink="/gerundio">Gerúndios</a>
            </li>
            <li>
                <a routerLink="/instituicoes">Instituições</a>
            </li>
            <li>
                <a routerLink="/contato">Contato</a>
            </li>
        </ul>
    </div>
</nav>
