<div class="institutions-box">
    <h1>Instituições</h1>
    <div class="institutions-logo">
        <!-- AGES -->
        <a routerLink="" (click)="onClick('AGES')">
            <img src="../assets/IES/AGES/logoAGES.png" alt="AGES">
        </a>
        
        <!-- FADERGS -->
        <a routerLink="" (click)="onClick('FADERGS')">
            <img src="../assets/IES/FADERGS/logoFADERGS.png" alt="FADERGS">
        </a>
        
        <!-- FASEH -->
        <a routerLink="" (click)="onClick('FASEH')">
            <img src="../assets/IES/FASEH/logoFASEH.png" alt="FASEH">
        </a>
        
        <!-- FPB -->
        <a routerLink="" (click)="onClick('FPB')">
            <img src="../assets/IES/FPB/logoFPB.png" alt="FPB">
        </a>
        
        <!-- IBMR -->
        <a routerLink="" (click)="onClick('IBMR')">
            <img src="../assets/IES/IBMR/logoIBMR.png" alt="IBMR">
        </a>
        
        <!-- UAM -->
        <a routerLink="" (click)="onClick('UAM')">
            <img src="../assets/IES/UAM/logoUAM.png" alt="UAM">
        </a>
        
        <!-- UNA -->
        <a routerLink="" (click)="onClick('UNA')">
            <img src="../assets/IES/UNA/logoUNA.png" alt="UNA">
        </a>
        
        <!-- UNIBH -->
        <a routerLink="" (click)="onClick('UNIBH')">
            <img src="../assets/IES/UNIBH/logoUNIBH.png" alt="UNIBH">
        </a>
        
        <!-- UNICURITIBA -->
        <a routerLink="" (click)="onClick('UNICURITIBA')">
            <img src="../assets/IES/UNICURITIBA/logoUNICURITIBA.png" alt="UNICURITIBA">
        </a>
        
        <!-- UNIFACS -->
        <a routerLink="" (click)="onClick('UNIFACS')">
            <img src="../assets/IES/UNIFACS/logoUNIFACS.png" alt="UNIFACS">
        </a>
        
        <!-- UNIFG -->
        <a routerLink="" (click)="onClick('UNIFG')">
            <img src="../assets/IES/UNIFG/logoUNIFG.png" alt="UNIFG">
        </a>
        
        <!-- UNIRITTER -->
        <a routerLink="" (click)="onClick('UNIRITTER')">
            <img src="../assets/IES/UNIRITTER/logoUNIRITTER.png" alt="UNIRITTER">
        </a>
        
        <!-- UNISOCIESC -->
        <a routerLink="" (click)="onClick('UNISOCIESC')">
            <img src="../assets/IES/UNISOCIESC/logoUNISOCIESC.png" alt="UNISOCIESC">
        </a>
        
        <!-- UNISUL -->
        <a routerLink="" (click)="onClick('UNISUL')">
            <img src="../assets/IES/UNISUL/logoUNISUL.png" alt="UNISUL">
        </a>
        
        <!-- UNP -->
        <a routerLink="" (click)="onClick('UNP')">
            <img src="../assets/IES/UNP/logoUNP.png" alt="UNP">
        </a>
        
        <!-- USJT -->
        <a routerLink="" (click)="onClick('USJT')">
            <img src="../assets/IES/USJT/logoUSJT.png" alt="USJT">
        </a>
        
            </div>
</div>


