<div class="border">
  <div class="main">

    <h1>Sobre Nós</h1>

    <p>
      O Projeto Acolher - Uma Rede de Apoio e Acolhimento Universitário
    </p>

    <div>
      <p>
        O <span>Projeto Acolher</span> nasceu da empatia e da vontade de veteranos universitários em ajudar os novatos a navegarem
        pela jornada acadêmica com mais confiança e tranquilidade. Idealizado pelos alunos das instituições de ensino da
        Ânima Educação, o Acolher se tornou um <span>Projeto de Extensão do Ecossistema Ânima</span> e hoje é considerado a maior e
        mais inovadora rede nacional de apoio e acolhimento de universitários do país.
      </p>
    </div>

    <div>
      <p>
        Desde o seu lançamento em junho de 2020, o Projeto Acolher já beneficiou mais de 28 mil novos universitários das
        instituições da Ânima, proporcionando um suporte valioso durante essa fase de transição para o ensino superior.
        Com mais de cem alunos veteranos envolvidos, a iniciativa tem se destacado ao contribuir significativamente para
        a redução da evasão de calouros, que hoje é inferior a 2% entre aqueles que participam das ações do Acolher.
      </p>
    </div>

    <div>
      <p>
        A dinâmica do projeto é bastante abrangente e engloba diversas áreas do conhecimento, agrupadas em <span>"Gerúndios"</span>.
        Os veteranos de cada área, como <span>Arquitetando, Codando, Comunicando, Cuidando, Desembolando, Engenheirando,
        Ensinando, Endireitando, Negociando e Veterinando</span>, se unem para oferecer atividades e suporte personalizado aos
        novatos. Através de palestras, cursos, tira-dúvidas e oficinas, os veteranos auxiliam os calouros a se
        integrarem a uma rede nacional de amigos e se prepararem para o início das aulas, inclusive com cursos de
        nivelamento e reforço de conteúdo.
      </p>
    </div>

    <div>
      <p>
        O Acolher vai além do acolhimento, pois busca facilitar a transição dos novatos para o ambiente universitário,
        promovendo habilidades e competências socioemocionais essenciais para os profissionais do futuro, como empatia,
        networking e trabalho colaborativo. Além disso, após o início das aulas, os veteranos convidam outros veteranos
        para apadrinharem um novato, oferecendo apoio contínuo ao longo da trajetória acadêmica.
      </p>
    </div>

    <div>
      <p>
        O Projeto Acolher é uma prova concreta do poder da união e da solidariedade entre os estudantes universitários.
        Através dessa iniciativa inovadora, os veteranos encontraram uma maneira de retribuir e proporcionar aos novos
        colegas uma experiência acadêmica mais enriquecedora e acolhedora.
      </p>
    </div>

    <div>
      <p>
        Junte-se ao Projeto Acolher e faça parte dessa incrível rede de apoio e acolhimento universitário. Juntos, vamos
        tornar a jornada acadêmica mais inspiradora, motivadora e transformadora para todos os estudantes que estão
        embarcando nessa nova fase da vida.
      </p>
    </div>

<!-- =======
    <div class="sobre-container">
      <h1>Sobre</h1>
      <p>
        O que significa o acolhimento dentro do projeto?
        É uma explicação simples e fácil de compreender, mesmo sendo algo tão profundo e transformador! </p>
      <p>
        O que fazemos, como alunos, é buscar compartilhar os sentimentos de quem chega a essa fase de transição,
        empolgação e insegurança.</p>
      <p>
        Utilizamos como principal ferramenta o acesso às nossas próprias emoções, que experimentamos na nossa chegada e
        que ainda estão vivas dentro de nós.</p>
      <p>
        Dentre elas, destacam-se a sensação de solidão e o sentimento de estar perdido em relação ao quê fazer e como
        fazer as coisas.
      <p>
        Assumimos o papel da pessoa que você poderia encontrar na sala de aula, alguém que te ajuda a entender e a se
        adaptar à nova rotina acadêmica, além de mostrar que você não está só!</p>
      <p>Dentre outros, temos como objetivo desvendar as ilusões e o desconhecimento dos procedimentos institucionais
        que
        geram sofrimentos desnecessários, porém praticamente inevitáveis nesse momento.</p>
      <p>Lembramos que, como alunos, não temos todas as respostas, nem somos responsáveis por esses procedimentos ou
        pelo
        funcionamento da instituição. Estamos igualmente sujeitos a todas as regras e possíveis alterações. Habitamos o
        mesmo barco!</p>
      <p>
        Além do acolhimento na chegada, estendemos esse laço por todos os semestres, oferecendo eventos gratuitos que
        enriquecem a jornada do aluno e disponibilizando conteúdo e dicas importantes no Instagram!</p>
      <p>
        Acreditamos que o cuidado com o próximo e a união entre os colegas são bases muito importantes para um futuro
        acadêmico brilhante e repleto de realizações!</p>
      <p>
        Utilizamos toda a nossa disposição e todo o conhecimento que temos para tornar a experiência daqueles que chegam
        muito mais confortável, eficiente e verdadeiramente... acolhedora!</p>

    </div>
  </div>
</div>-->
