.img-campus {
  width: 500px;
  height: 300px;
  border: var(--dark-green2) 3px solid;
  border-radius: 24px;
  object-fit: cover;
}

.cursos-container-top  {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cursos-text {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.cursos-text h1 {
  color: var(--dark-green2);
  font-size: 60px;
  width: max-content;
}

.cursos-text p {
  color: var(--font-dark-gray);
  font-weight: 500;
  font-size: 20px;
  width: max-content;
}

h2 {
  color: var(--font-dark-gray);
}

h3 {
  color: var(--font-gray);
  transition: .4s;
  cursor: pointer;
}

h3:hover {
  color: var(--medium-green);
}

.list {
  /* background-color: var(--font-gray); */
  margin: 5px 5px 0 5px;
  padding-bottom: 3px;
}

.list::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 4px;
  /* background: linear-gradient(90deg, var(--medium-green) 80%, var(--font-gray) 100%); */
  background: linear-gradient(90deg, var(--medium-green) 70%, var(--white) 100%);
  margin-top: 50px;
  /* opacity: 0; */
  transition: .4s;
}

.list:hover::before {
  opacity: 1; /* Quando o mouse estiver sobre, a opacidade se torna 1 */
}

.img-icons {
  width: 30px;
  margin-right: 10px;
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(110deg);
}

@media (max-width:1100px) {
  .cursos-container-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .img-campus {
    margin: 10px;
  }
}

@media (max-width:860px) {
  .cursos-text {
    align-items: center;
  }

  .cursos-text h1 , .cursos-text p {
    width: auto;
  }
}

@media (max-width:560px) {
  .img-campus {
    width: 360px;
    height: 240px;
  }

  h2 {
    font-size: 18px;
  }

  .list::before {
    width: 380px;
  }
}

@media (max-width:425px) {

  .cursos-text h1 {
    font-size: 45px;
    width: auto;
  }

  .cursos-text p {
    font-size: 15px;
    width: auto;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 16px;
  }

  .list::before {
    width: 300px;
  }

  .img-campus {
    width: 280px;
    height: 180px;
    border-radius: 14px;
  }
}


