<div class="border">
  <div class="main">
    <div class="cursos-container-top">
      <div class="cursos-text">
        <h1>
          {{ies.nome.toUpperCase()}} {{ies.instituicoes[index].nome}}
        </h1>

        <!-- <p>Nome de algum Responsavel</p> -->

        <!-- RETIRAR DO CÓDIGO DE PRODUÇÃO DA LINHA 11 A 17. -->
        <p style="color: red; text-decoration: underline">Está testando o site?</p>
        <p style="color: red; text-decoration: underline">Se não achar seu curso,</p>
        <p style="color: red; text-decoration: underline">clique em "Outro"</p>
        <p style="color: red; text-decoration: underline">e continue seus testes.</p>
        <p style="color: red; text-decoration: underline">O Codando agradece sua ajuda ♥ </p>
        <!-- RETIRAR DO CÓDIGO DE PRODUÇÃO DA LINHA 11 A 17.  -->
        
        <p >Cursos com vagas para monitoria no ies {{ies.instituicoes[index].nome}}</p>
      </div>

      <div class="cursos-img">
        <img src="{{ies.instituicoes[index].imagem}}" alt="ies {{ies.instituicoes[index].nome}}"
          class="img-campus"
        >
      </div>
    </div>


    <div>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <h3 (click)="click(node.id, node.name)">
            {{node.name}}
          </h3>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="list">

          <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name "
            (click)="clickH2(node)">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <img class="img-icons" src="{{icon[node.id].icon}}" alt="">
          <h2>
            {{node.name}}
          </h2>
        </mat-tree-node>
      </mat-tree>

    </div>


  </div>
</div>
