<div class="border">
  <div class="main">
    <div class="cursos-container-top">
      <div class="cursos-text">
        <h1>
          {{ies.iesEnviar.nome}} {{ies.iesEnviar.instituicoes[campusIndex].nome}}
        </h1>

        <p>Nome de algum Responsavel</p>
        <p>Cursos com vagas para monitoria no Campus {{ies.iesEnviar.instituicoes[campusIndex].nome}}</p>
      </div>

      <div class="cursos-img">
        <img src="{{ies.iesEnviar.instituicoes[campusIndex].imagem}}" alt="Campus {{ies.iesEnviar.instituicoes[campusIndex].nome}}">
      </div>
    </div>


    <div>

    </div>


  </div>
</div>
