<div class="border">
    <div class="main">
        <div class="container">
          <h1>Entre em contato com a gente!</h1>

          <span>
            Siga nossas redes para mais informações e novidades.
            Estamos ansiosos para te acolher!  
          </span>

          <div class="container-icons">

            <a href="https://linktr.ee/projeto.acolher">
              <div>
                <fa-icon [icon]="linktree" size="2xl"></fa-icon>
              </div>
            </a>

            <a href="https://www.instagram.com/acolher.anima">
              <div>
                <fa-icon [icon]="instagram" size="2xl"></fa-icon>
              </div>
            </a>

            <a href="https://www.youtube.com/c/ProjetoAcolher%C3%82nima">
              <div>
                <fa-icon [icon]="youtube" size="2xl"></fa-icon>
              </div>
            </a>

            <!-- <a href="">
              <div>
                <fa-icon [icon]="linkedin" size="2xl"></fa-icon>
              </div>
            </a> -->

          </div>
        </div>
    </div>
</div>
