.border {
  text-align: center;
  padding: 30px 0;
}

.link {
  margin: 0 50px;
}

h1 {
  margin-bottom: 20px;
  font-size: 40px;
  background: var(--dark-green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container-buttons-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.container-input button {
  margin-top: 10px;
}

.container-buttons {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container-input p {
  margin-bottom: 10px;
}

.input-dados {
    width: 390px;
    border-style: dashed;
    border-radius: 2%;

}

.dados-pessoais .input-dados div {

  padding-bottom: 13px;


}

/* .sobrenome {
  padding-bottom: 75px;
} */

mat-form-field {
    width: 70%;
}
