<div class="border">
    <div class="link">{{ies.iesEnviar.nome.toUpperCase()}} / {{ies.iesEnviar.instituicoes[campusIndex].nome}} / {{campus}} / {{monitoria.curso}}</div>
    <h1>Inscrição Alunos</h1>

    <div class="container">
        <div class="dados-pessoais contain">
            <fieldset class="input-dados">
                <legend> Dados Pessoais</legend>
                <div class="primeiro-nome">
                    <mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>
                <div class="sobrenome">
                    <mat-form-field appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>
                <div class="ra">
                    <mat-form-field appearance="fill">
                        <mat-label>RA</mat-label>
                        <input matInput placeholder="Registro Acadêmico">
                    </mat-form-field>
                </div>
                <div class="email">
                    <mat-form-field>
                        <mat-label>Email Acadêmico</mat-label>
                        <input matInput placeholder="anima@ulife.com.br">
                    </mat-form-field>
                </div>
                <div class="semestre">
                    <mat-form-field>
                        <mat-label>Semestre</mat-label>
                        <mat-select>
                            <mat-option value="primeiro">1º Semestre</mat-option>
                            <mat-option value="segundo">2º Semestre</mat-option>
                            <mat-option value="terceiro">3º Semestre</mat-option>
                            <mat-option value="quarto">4º Semestre</mat-option>
                            <mat-option value="quinto">5º Semestre</mat-option>
                            <mat-option value="sexto">6º Semestre</mat-option>
                            <mat-option value="setimo">7º Semestre</mat-option>
                            <mat-option value="oitavo">8º Semestre</mat-option>
                            <mat-option value="nono">9º Semestre</mat-option>
                            <mat-option value="decimo">10º Semestre</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="periodo">
                    <mat-form-field>
                        <mat-label>Período</mat-label>
                        <mat-select>
                            <mat-option value="manha">Matutino</mat-option>
                            <mat-option value="tarde">Vespertino</mat-option>
                            <mat-option value="noite">Nortuno</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </fieldset>
        </div>
        <div class="dados-acadêmicos contain">
            <fieldset class="input-dados">
                <legend> Dados Acadêmicos</legend>
                <div class="ies">
                    <mat-form-field appearance="fill">
                        <mat-label>Instituição de Ensino Superior</mat-label>
                        <input matInput value="{{nome.toUpperCase()}}" readonly>
                    </mat-form-field>
                </div>
                <div class="campus">
                    <mat-form-field appearance="fill">
                        <mat-label>Campus</mat-label>
                        <input matInput value="{{campus}}" readonly>
                    </mat-form-field>
                </div>
                <div class="curso">
                    <mat-form-field appearance="fill">
                        <mat-label>Curso</mat-label>
                        <input matInput value="{{curso}}" readonly>
                    </mat-form-field>
                </div>
                <div class="monitor">
                    <mat-form-field>
                        <mat-label>Já foi monitor?</mat-label>
                        <mat-select>
                            <mat-option value="sim">Sim</mat-option>
                            <mat-option value="nao">Não</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="cursou-essa-uc">
                    <mat-form-field>
                        <mat-label>Já cursou essa UC?</mat-label>
                        <mat-select>
                            <mat-option value="sim">Sim</mat-option>
                            <mat-option value="nao">Não</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Área de conhecimento</mat-label>
                        <textarea matInput
                            placeholder="Descreva, brevemente, sua área de conhecimento sobre a UC" rows="5"></textarea>

                    </mat-form-field>
                </div>
            </fieldset>
        </div>

        <div class="container-buttons">
            <div class="container-input">
                <p>Anexe o PDF do seu plano curricular</p>
                <input type="file" name="" id="">
                <button class="button model-one inscrever-me">INSCREVER-SE!</button>
            </div>

            <div class="container-buttons-nav">
                <button class="button model-one">Voltar</button>
                <button class="button model-two">Início</button>
            </div>

        </div>
    </div>
</div>
