<div class="border">
  <div class="main">
    <div class="ies-nome">
      <img src="{{ies.iesLogo}}" alt="">
      <p>{{ies.descricao}}</p>
    </div>
    <div class="ies-campus">
      <div
      *ngFor="let campus of ies.instituicoes; let indexCampus = index"
      class="ies"
      (click)="goCampus(ies, indexCampus)"
      >
          <img src="{{ies.instituicoes[indexCampus].imagem}}" alt="{{ies.nome}}" class="logo">
          <p>{{ies.instituicoes[indexCampus].nome}}</p>
      </div>
    </div>
  </div>
</div>
