<div class="border">
  <div class="main">
    <div class="selecao-container">
      <h1>Seleção {{year}}</h1>
      <p>
        Chegou a hora de contribuir para o desenvolvimento acadêmico e pessoal dos seus colegas de graduação. Você
        poderá
        se inscrever no programa de monitoria da sua Instituição de Ensino Superior (IES), uma oportunidade para
        aperfeiçoar seus conhecimentos na
        área,
        entrar em contato com a prática docente e ainda enriquecer o currículo profissional.
      </p>

      <p>
        Por meio da participação dos graduandos no programa de monitoria, a Ânima busca incentivar a integração e
        cooperação entre professores e alunos, em atividades didático-pedagógicas vinculadas às diretrizes dos cursos.
      </p>
      <h4>
        O QUE É MONITORIA?
      </h4>
      <p>
        A monitoria é uma atividade que busca o aprimoramento do ensino e da aprendizagem na perspectiva discente (dos
        alunos).
        Existe para auxiliar os alunos que necessitam de apoio em componentes específicos do currículo.
      </p>
      <h4>
        QUEM PODE SER MONITOR?
      </h4>
      <p>
        A monitoria será exercida por alunos regularmente matriculados. Estes, são selecionados dentre os que se
        destacaram em um conteúdo curricular específico, demonstrando cultura e aptidão para a atividade.
      </p>
      <h4>
        QUAIS SÃO AS REGRAS PARA A MONITORIA?
      </h4>
      <p>
        O número de monitores, a seleção dos mesmos, os critérios para a escolha dos componentes curriculares, a forma
        de atuação e a gestão do serviço serão definidos conforme regulamentação da IES dos candidatos à monitoria.
        O aluno candidato a monitor deverá estar atento às normas estabelecidas no Edital que regulamenta o processo
        seletivo.
      </p>
    </div>

    <div class="edital-container">
      <h1>Edital</h1>
      <p>
        <a href="">Acesse aqui</a> o edital para conhecer os critérios de seleção e obter mais informações.
      </p>
    </div>
  </div>
</div>