<div class="border">
  <div class="main">
    <div class="selecao-container">
      <h1>Seleção Edital</h1>
      <p>
        Chegou a hora de contribuir para o desenvolvimento acadêmico e pessoal dos seus colegas de graduação. Você poderá
        se inscrever no programa de monitoria da UniSociesc, uma oportunidade para aperfeiçoar seus conhecimentos na área,
        entrar em contato com a prática docente e ainda enriquecer o currículo profissional.
      </p>

      <p>
        Por meio da participação dos graduandos no programa de monitoria, a UniSociesc busca incentivar a integração e
        cooperação entre professores e alunos, em atividades didático-pedagógicas vinculadas às diretrizes dos cursos.
      </p>
    </div>

    <div class="edital-container">
      <h1>Edital 2023.2</h1>
      <p>
        <a href="">Acesse aqui</a> o Edital para conhecer os critérios de seleção e obter informações sobre ofertas e inscrições.
      </p>
    </div>
  </div>
</div>
