<div class="border">
  <h1>Programa de Monitoria</h1>

  <div class="home-text">
    <p>Já se imaginou como monitor? Auxiliar outros estudantes no aprendizado dos conteúdos?</p>
    <p>Enriqueça sua vida acadêmica. Desenvolva habilidades do universo docente! E além de tudo, ganhe horas
      complementares! </p>
    <p>Venha agora! Acesse nosso edital de seleção e faça sua escolha nas unidades curriculares e de aprendizado!</p>
  </div>

  <div class="home-buttons">
    <button class="button model-one" (click)="goSelection()">Seleção {{year}}</button>
    <button class="button model-two" (click)="goFAQ()">FAQ Monitorias</button>
  </div>
</div>
