<div class="border">
    <div class="main">
        <h1>Início</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem veniam temporibus ipsum, eum illo tempore dolores deleniti, veritatis doloribus dolorum non reiciendis culpa doloremque quaerat id iure odio enim facere.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores, libero facilis delectus eius distinctio, dicta reprehenderit magnam numquam molestias alias necessitatibus provident quam sequi neque unde temporibus rem recusandae.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores, libero facilis delectus eius distinctio, dicta reprehenderit magnam numquam molestias alias necessitatibus provident quam sequi neque unde temporibus rem recusandae.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores, libero facilis delectus eius distinctio, dicta reprehenderit magnam numquam molestias alias necessitatibus provident quam sequi neque unde temporibus rem recusandae.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores, libero facilis delectus eius distinctio, dicta reprehenderit magnam numquam molestias alias necessitatibus provident quam sequi neque unde temporibus rem recusandae.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores, libero facilis delectus eius distinctio, dicta reprehenderit magnam numquam molestias alias necessitatibus provident quam sequi neque unde temporibus rem recusandae.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores, libero facilis delectus eius distinctio, dicta reprehenderit magnam numquam molestias alias necessitatibus provident quam sequi neque unde temporibus rem recusandae.
        </p>
        <button class="button model-one" (click)="goSelection()">Seleção 2023.2</button>
        <button class="button model-two" (click)="goFAQ()">FAQ Monitorias</button>
    </div>
</div>
