<div class="border">
  <h1>Programa de Monitoria</h1>

  <div class="home-text">
    <p>Já se imaginou como monitor? Auxiliar outros estudantes no aprendizado dos conteúdos?</p>
    <p>Enriqueça sua vida acadêmica. Desenvolva habilidades do universo docente! E além de tudo, ganhe horas
      complementares! </p>
    <p>Acesse o edital de seleção e faça sua escolha nas unidades curriculares.</p>
  </div>

  <div class="home-buttons">
    <button class="button model-two" (click)="goSelection()">Seleção {{year}}</button>
    <button class="button model-two" (click)="goFAQ()">Saiba mais</button>
    
  </div>
  <div class="home-buttons">
    <button class="button model-one" (click)="goInstituicoes()">INSCREVA-SE</button>
  </div>
</div>
