<div class="border">
    <div class="main">
        <h1>Gerúndio</h1>
        <div class="gerundio-logos">
          <div>
            <a href="https://heylink.me/arquitetando.anima/" target="_blank">
              <img src="../../../../assets/Gerundio/arquitetando.png" alt="arquitetando" class="logo">
              <p class="text">arquitetando</p>
            </a>
          </div>
          <div>
            <a href="https://linktr.ee/codando.community" target="_blank">
              <img src="../../../../assets/Gerundio/codando.png" alt="codando" class="logo">
              <p class="text">codando</p>
            </a>
          </div>
          <div>
            <a href="https://linktr.ee/Comunicand" target="_blank">
              <img src="../../../../assets/Gerundio/comunicando.png" alt="comunicando" class="logo">
              <p class="text">comunicando</p>
            </a>
          </div>
          <div>
            <a href="https://linktr.ee/cuidandoacolher_" target="_blank">
              <img src="../../../../assets/Gerundio/cuidando.png" alt="cuidando" class="logo">
              <p class="text">cuidando</p>
            </a>
          </div>
          <div>
            <a href="https://linktr.ee/desembolando.anima.acolher" target="_blank">
              <img src="../../../../assets/Gerundio/desembolando.png" alt="desembolando" class="logo">
              <p class="text">desembolando</p>
            </a>
          </div>
          <div>
            <a href="https://linktr.ee/endireitando.acolher" target="_blank">
              <img src="../../../../assets/Gerundio/endireitando.png" alt="endireitando" class="logo">
              <p class="text">endireitando</p>
            </a>
          </div>
          <div>
            <a href="https://linktr.ee/linkengenheirando" target="_blank">
              <img src="../../../../assets/Gerundio/engenheirando.png" alt="engenheirando" class="logo">
              <p class="text">engenheirando</p>
            </a>
          </div>
          <div>
            <a href="https://linktr.ee/esinando" target="_blank">
              <img src="../../../../assets/Gerundio/ensinando.png" alt="ensinando" class="logo">
              <p class="text">ensinando</p>
            </a>
          </div>
          <div>
            <a href="https://linktr.ee/acolhimento_onegociando" target="_blank">
              <img src="../../../../assets/Gerundio/negociando.png" alt="negociando" class="logo">
              <p class="text">negociando</p>
            </a>
          </div>
          <div>
            <a href="https://heylink.me/veterinando.anima/" target="_blank">
              <img src="../../../../assets/Gerundio/veterinando.png" alt="veterinando" class="logo">
              <p class="text">veterinando</p>
            </a>
          </div>
        </div>
    </div>
</div>
