<div class="border">
  <div class="main">
    <h1>FAQ Monitorias Acadêmicas</h1>
    <div>
      <p>
        1 &rpar; O que significa fazer parte das monitorias acadêmicas?
      </p>
      <p>
        Fazer parte do Programa de Monitoria significa
        ensinar e ao mesmo tempo aprender, desenvolver habilidades importantes para o mercado de trabalho, estar próximo
        da
        prática docente, contribuir para a qualidade do ensino, ter autonomia e a oportunidade de se aprofundar nos
        estudos.
      </p>
    </div>
    <div>
      <p>
        2 &rpar; Qual a vantagem para o aluno de fazer parte do projeto?
      </p>
      <p>
        Ao participar do Programa de Monitoria o
        estudante tem a possibilidade de desenvolver uma série de competências muito valiosas para o mercado de
        trabalho, como por exemplo: disciplina, responsabilidade, trabalho em equipe e comunicação.
      </p>
    </div>
    <div>
      <p>
        3 &rpar; Ganha horas complementares?
      </p>
      <p>
        No final do semestre, após concluir as atividades e entregar o portfólio da
        monitoria, o &lpar;a&rpar; monitor&lpar;a&rpar; recebe um certificado de participação do Empoderamento do
        Estudante que pode ser convertido em horas complementares. O total de horas corresponde as horas desempenhadas
        pelo monitor ao
        longo do semestre.
      </p>
    </div>
    <div>
      <p>
        4 &rpar; Quais os dias e horários disponíveis para participar do projeto?
      </p>
      <p>
        O &lpar;a&rpar; monitor&lpar;a&rpar;
        poderá escolher o melhor dia da semana e horário para desempenhar as suas atividades, sendo necessário indicar a
        sua escolha
        no ato da inscrição.
      </p>
    </div>
    <div>
      <p>
        5 &rpar; Haverá uma lista de UCs/Disciplinas especificas para monitorias?
      </p>
      <p>
        No edital constará uma listagem com as
        vagas ofertadas e respectivos docentes responsáveis.
      </p>
    </div>
    <div>
      <p>
        6 &rpar; Há alguma restrição de período/tempo de curso para ser monitor?
      </p>
      <p>
        Para ser monitor é necessário que o
        &lpar;a&rpar; estudante já tenha cursado a unidade curricular ou disciplina na qual pleiteia a vaga. Ainda é
        necessário que
        atenda o critério de média global, sendo a média global referente ao semestre anterior igual ou superior a 75%
      </p>
    </div>
  </div>
</div>
