* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* VARIAVEIS DE CORES */
:root {
    --background-linear-green: linear-gradient(180deg, rgba(180,243,160,1) 0%, rgba(169,244,223,1) 48%, rgba(180,243,160,1) 100%);
    --text-linear-green: linear-gradient(180deg, #63C4D4 0%, #B4D172 100%);

    --dark-green: #00716D;
    --dark-green2: #009D98;
    --medium-green: #9CC766;
    --light-green:#b6e1b5;
    --light-green2: #D0F1CD;

    --font-green: #4F8310;
    --font-dark-gray: #4B4B4B;
    --font-gray: #838383;
    --font-blue: #63C4D4;

    --background-gray: #D9D9D9;

    --white: #fff;
    --black: #000
}

/* borda padrão pag, contato, e outros */

.border {
    padding: 40px 50px;
    background: var(--background-linear-green);
    min-height: 65vh;
}



.main {
    background-color: var(--white);
    min-height: 50vh;
    border-radius: 60px;
    padding: 50px;
}

@media(max-width:860px) {
    .border, .link {
        padding: 0 0;
    }

    .main {
        border-radius: 0;
        padding: 50px 0;

    }

}

@media (max-width:480px) {

  /* .main {
    padding: 50px 30px;
  } */
}

/* BOTÕES PADRÃO */

.button {
    width: 135px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--dark-green);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    transition: 0.4s;
}

.model-one {
    background: var(--dark-green);
    color: var(--white);
}

.model-one:hover {
    background: #015d5a;
}

.model-two {
    background: transparent;
    color: var(--dark-green);
}

.model-two:hover {
    background: var(--light-green);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link {
  background-color: white;
  margin-bottom: 30px;
  padding: 10px 40px;
  color: var(--font-blue);
  border-radius: 20px;
  text-align: start;
}
/* animation menu */
.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  -webkit-tap-highlight-color: transparent; }
  .burger .burger-lines:after {
    left: 0;
    top: -1em; }
  .burger .burger-lines:before {
    left: 1em;
    top: 1em; }
  .burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%; }
  .burger .burger-lines {
    top: 50%;
    margin-top: -0.125em; }
    .burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
      pointer-events: none;
      display: block;
      content: '';
      width: 100%;
      border-radius: 0.25em;
      background-color: white;
      height: 0.25em;
      position: absolute;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0); }
    .burger .burger-lines:after {
      left: 0;
      top: -1em; }
    .burger .burger-lines:before {
      left: 1em;
      top: 1em; }
.burger.burger-squeeze .burger-lines, .burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
  -webkit-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
  -o-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
  transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s; }

.burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
  width: 2em; }

.burger.burger-squeeze.open .burger-lines, .burger.burger-squeeze.open .burger-lines:after, .burger.burger-squeeze.open .burger-lines:before {
  -webkit-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
  -o-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
  transition: .2s background-color, .2s top, .2s left, .2s transform .15s; }

.burger.burger-squeeze.open .burger-lines {
  background-color: transparent; }

.burger.burger-squeeze.open .burger-lines:before, .burger.burger-squeeze.open .burger-lines:after {
  left: 0.5em;
  top: 0px; }

.burger.burger-squeeze.open .burger-lines:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.burger.burger-squeeze.open .burger-lines:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
