* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* VARIAVEIS DE CORES */
:root {
    --background-linear-green: linear-gradient(180deg, rgba(180,243,160,1) 0%, rgba(169,244,223,1) 48%, rgba(180,243,160,1) 100%);
    --text-linear-green: linear-gradient(180deg, #63C4D4 0%, #B4D172 100%);

    --dark-green: #00716D;
    --dark-green2: #009D98;
    --medium-green: #9CC766;
    --light-green:#b6e1b5;
    --light-green2: #D0F1CD;

    --font-green: #4F8310;
    --font-dark-gray: #4B4B4B;
    --font-gray: #838383;

    --white: #fff;
    --black: #000
}

/* borda padrão pag, contato, e outros */

.border {
    padding: 40px 50px;
    background: var(--background-linear-green);
    min-height: 65vh;
}



.main {
    background-color: var(--white);
    min-height: 50vh;
    border-radius: 60px;
    padding: 50px;
}

@media(max-width:860px) {
    .border {
        padding: 0 0;
    }

    .main {
        border-radius: 0;
    }

}

@media (max-width:480px) {

  .main {
    padding: 50px 30px;
  }
}

/* BOTÕES PADRÃO */

.button {
    width: 135px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--dark-green);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    transition: 0.4s;
}

.model-one {
    background: var(--dark-green);
    color: var(--white);
}

.model-one:hover {
    background: #015d5a;
}

.model-two {
    background: transparent;
    color: var(--dark-green);
}

.model-two:hover {
    background: var(--light-green);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
